AI_Agent_That_Calls_Customers_for_Appointment_Reminders (1).json
{
  "name": "AI Agent That Calls Customers for Appointment Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9f4adec5-6df7-420a-b29a-29fbf9dfb215",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "anirbanmukherjee1311@gmail.com",
          "mode": "list",
          "cachedResultName": "anirbanmukherjee1311@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus(12, 'hours') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        220,
        0
      ],
      "id": "74eafdcb-4260-415b-aa66-68cab6a4ab3c",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6RIvD419UfT4GX71",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Appointment Details: {{ $json.description }}\n\nStart time:{{ $json.start.dateTime }}\n\nEnd time:{{ $json.end.dateTime }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant. Generate structured JSON with the following fields:\n\n- name: full name of the recipient\n\n- phone_number: string\n\n- reason: reason for the appointment\n\n- start_time: ISO 8601 datetime (Format is date-time)\n\n- end_time: ISO 8601 datetime (Format is date-time)\n\n- email\n\nOutput ONLY in this exact JSON format. No comments, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        0
      ],
      "id": "7edc7e95-9bab-4d9d-9f3d-8473631d0452",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        280,
        240
      ],
      "id": "0c5f3cfe-2674-4d93-8cfd-13752981c791",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "y6NoXXiFjomUaVlT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\n\"type\": \"object\",\n\n\"properties\": {\n\n\"output\": {\n\n\"type\": \"object\",\n\n\"properties\": {\n\n\"name\": { \"type\": \"string\" },\n\n\"email\": { \"type\": \"string\", \"format\": \"email\" },\n\n\"phone_number\": { \"type\": \"string\" },\n\n\"reason\": { \"type\": \"string\" },\n\n\"start_time\": { \"type\": \"string\", \"format\": \"date-time\" },\n\n\"end_time\": { \"type\": \"string\", \"format\": \"date-time\" }\n\n},\n\n\"required\": [\n\n\"name\",\n\n\"email\",\n\n\"phone_number\",\n\n\"reason\",\n\n\"start_time\",\n\n\"end_time\"\n\n]\n\n}\n\n},\n\n\"required\": [\"output\"]\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        620,
        220
      ],
      "id": "3597c519-2796-4687-90c9-4bf20e235c33",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_871a35b6535e34007392d70d89f9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"from_number\": \"+18623414966\",\n  \"to_number\": \"{{ $json.output.phone_number }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"name\": \"{{ $json.output.name }}\",\n    \"phone_number\": \"{{ $json.output.phone_number }}\",\n    \"reason\": \"{{ $json.output.reason }}\",\n    \"start_time\": \"{{ $json.output.start_time }}\",\n    \"end_time\": \"{{ $json.output.end_time }}\"\n  },\n  \"override_agent_id\": \"agent_5338180eee0fbaa5e56c71f7a9\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "id": "509ca448-91ba-4e8c-8aa6-1546a1921e20",
      "name": "HTTP Request",
      "credentials": {
        "httpCustomAuth": {
          "id": "twjXvbu4Mtxm9voc",
          "name": "Retell"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f12f0808-c328-4563-a907-6da398487112",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b814bdc273532a826a3c09b2cb27e70556e20a2a57dc67ebf533677a78339839"
  },
  "id": "8ZdFQfQgqJvdbEOX",
  "tags": []
}